[Desktop Entry]
Comment=Displays a calendar and the weather forecast
Exec=x-terminal-emulator -hold -T calendar -e "bin/calendar"
Name=Calendar
Type=Application
Terminal=false
