URxvt.font:             xft:Dejavu Sans Mono:autohint=true:antialias=true:size=12
! URxvt*font:             xft:Inconsolata:size=14:antialias=true:hinting=slight
URxvt.background:       black
URxvt.foreground:       white
URxvt.scrollBar:        false
URxvt.tintColor:        #333333
URxvt.fading:           15
URxvt.fadeColor:        black
URxvt.shading:          75
URxvt.inheritPixmap:    true
URxvt.pointerColor:     black
URxvt.pointerColor2:    white
URxvt.keysym.Mod4-Shift-Return: string:urxvt &\n
